@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home page";

    List<Dictionary<string,string>> memberList = new List<Dictionary<string, string>>();
    Dictionary<string, string> member = new Dictionary<string, string>{
        { "time", "09:00 AM" },
        { "name", "Brown Jay" },
        { "number" ,"001" },
        { "type", "Testing" },
        { "image_url", "brown_jay.png"},
        { "status", "booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "09:30 AM" },
        { "name", "Ryan Reynolds" },
        { "number" ,"004" },
        { "type", " Fitting" },
        { "image_url", "patient1.png"},
        { "status", "booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "10:00 AM" },
        { "name", "Kirsten Dunst" },
        { "number" ,"103" },
        { "type", "Hearing" },
        { "image_url", "patient2.png"},
        { "status", "booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "10:30 AM" },
        { "name", "Ryan Howard" },
        { "number" ,"143" },
        { "type", "Passive" },
        { "image_url", "patient3.png" },
        { "status", "booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "11:00 AM" },
        { "status", "not booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "11:30 AM" },
        { "name", "Erika Savage" },
        { "number" ,"153" },
        { "type", "Testing" },
        { "image_url", "patient3.png"},
        { "status", "booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "12:00 AM" },
        { "name", "James Blunt" },
        { "number" ,"175" },
        { "type", "Fitting" },
        { "image_url", "patient3.png"},
        { "status", "lunch time" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "12:30 PM" },
        { "name", "Nancy Callahan" },
        { "number" ,"265" },
        { "type", "Hearing" },
        { "image_url", "patient4.png"},
        { "status", "lunch time" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "01:00 PM" },
        { "name", "Terry Crews" },
        { "number" ,"301" },
        { "type", "Passive" },
        { "image_url", "patient5.png"},
        { "status", "booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "01:30 PM" },
        { "name", "Brad Delson" },
        { "number" ,"489" },
        { "type", "Testing" },
        { "image_url", "patient3.png"},
        { "status", "booked" }
    };
    memberList.Add(member);

    member = new Dictionary<string, string>{
        { "time", "02:00 PM" },
        { "name", "Adam Browns" },
        { "number" ,"567" },
        { "type", "Fitting" },
        { "image_url", "patient6.png"},
        { "status", "booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "02:30 PM" },
        {"status", "not booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "03:00 PM" },
        { "name", "Meghan Markle" },
        { "number" ,"654" },
        { "type", "Testing" },
        { "image_url", "brown_jay.png" },
        { "status", "booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "03:30 PM" },
        { "name", "Bryan Adams" },
        { "number" ,"743" },
        { "type", "Testing" },
        { "image_url", "patient1.png"},
        { "status", "booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "04:00 PM" },
        { "name", "Stephen King" },
        { "number" ,"792" },
        { "type", "Testing" },
        { "image_url", "patient2.png"},
        { "status", "booked" }
    };
    memberList.Add(member);
    member = new Dictionary<string, string>{
        { "time", "04:30 PM" },
        { "name", "Pierce Brosnan" },
        { "number" ,"891" },
        { "type", "Fitting" },
        { "image_url", "patient3.png"},
        { "status", "booked" }
    };
    memberList.Add(member);

}

            <div class="schedule_section">
                <div class="schedule_section_title">Todays's Schedule</div>
                <div class="schedule_section_body">

                    @foreach (var eachMember in memberList)
                    {
                        @if (eachMember["status"] == "not booked")
                        {
                            <div class="schedule_section_body__individual">
                                <label class="schedule_section_body__individual_time-free">@eachMember["time"]</label><br />
                                <div class="schedule_section_body__individual_newappointment">
                                    <label class="schedule_section_body__individual_add">+</label><br />
                                    <label class="schedule_section_body__individual_appointment">New Appointment</label>
                                </div>
                            </div>
                        }
                        else if (eachMember["status"] == "lunch time")
                        {
                            <div class="schedule_section_body__individual">
                                <label class="schedule_section_body__individual_time-free">@eachMember["time"]</label><br />
                                <label class="schedule_section_body__individual_appointment-lunch">Out of Office</label>
                            </div>
                        }
                        else
                        {
                            <div class="schedule_section_body__individual">
                                <label class="schedule_section_body__individual_time">@eachMember["time"]</label><br />
                                <img class="schedule_section_body__individual_image" src="~/images/@eachMember["image_url"]" /><br />
                                <label class="schedule_section_body__individual_name">@eachMember["name"]</label><br />
                                <label class="schedule_section_body__individual-number_type">@eachMember["number"]</label> |
                                <label class="schedule_section_body__individual-number_type">@eachMember["type"]</label>
                            </div>
                        }
                    }
                </div>
            </div>
